<a href="https://colab.research.google.com/github/luislauriano/Data_Science/blob/master/Projeto_construcao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dicas do Meigarom (YTB)**

Luis, vamos lá então.

* O projeto que eu mais gostei foi o de Detecção de Cancer de Mama.
* Para resolve qualquer projeto de ML você precisa de 10 passos e você fez 5 deles. Conferir os passos de um projeto de ML novamente
* Gostei das suas explicações depois de cada código.
* Você poderia ter feito uma análise estatística descritiva dos dados, para dar um visão geral dos dados, em termos de métricas estatísticas ( média, mediana, std, moda, … )
* Você poderia ter feito mais análise exploratória de dados. Quais as features mais importantes para o modelo? Qual o impacto de cada feature na variável resposta?
* Você poderia explicar porque usou StandardScaler nas Features. Porque padronizar os dados? O que isso ajuda no modelo?
* Porque você usou LabelEncoder na variável resposta? O que isso traz de benefício?
* Poderia explicar, porque voce usou Random Forest. Qual o motivo da sua escolha?
* Explicar mais sobre as métricas, o que significa cada métrica? Qual das métricas eu deveria olhar? Todas? Apenas Uma?
13h52
* Vai se aprofundando nos projetos e procurando responder porque você está colocando cada coisa. Porque Random forest? Porque Analise Exploratoria? Porque StandarScaler? Para que serve a matrix de correlação?
* Vai fazendo testes e tentando entender o real motivo de cada linha código que você coloca, e porque essa linha é importante e no que ela ajuda?

# **Projetos como base:**

### Projeto do Rafael
https://github.com/barbosarafael/Projetos/blob/master/iNeuron_Back_order_prediction_Notebook/hackaton_ineuron_back_order_prediction.ipynb

### Projeto do Carlos Melo
https://github.com/carlosfab/data_science/blob/master/Setembro_Amarelo.ipynb

### Projeto do Cancer de Mama 
https://github.com/luislauriano/Data_Science/blob/master/Machine_Learning_para_Detec%C3%A7%C3%A3o_do_C%C3%A2ncer_de_Mama.ipynb

#**Referencias:**

Limpeza e preparação dos dados: https://medium.com/@lucasoliveiras/limpeza-e-prepara%C3%A7%C3%A3o-dos-dados-com-pandas-856e844abfbb

Tutorial API do Spotify: https://dandaramcsousa.github.io/2020/05/20/tutorial-api-spotify.html

Escrever e detalhar o maximo e tudo possivel com calma. (Isso também vai ser importante para aprender)   

Explicar cada coisa usada como quando eu for usar o sklearn (para isso vou precisar pesquisar sobre metric score, acuracia e etc para falar sobre)

___________________________________________________________________________________________________

# **Coletando e visualizando dados do Spotify de NexoAnexo**

## **Objetivo do projeto (Solução para o problema)**

contexto

## **Etapas do projeto**

* Coleta do dados 
   1. Api do spotify
   2. Dicionario dos dados
   3. Importar os pacotes e dataset necessários
   4. Leitura do arquivo

* Limpeza e preparação dos dados
    1. Deletar colunas
    2. Renomear colunas 
    3. Verificar dados ausentes
    4. Verificar os tipos das colunas
    5. Alterar os tipos de colunas 
    6. Verificando valores duplicados
  
* Exploração e visualização dos dados 
* Etapas do Machine Learning workflow

## **Coleta dos dados**

contexto

### **Explicar toda etapa da coleta dos dados na API do Spotify**

1. Coletar as informações de um artista, dado um nome;
2. Coletar os ids e nomes de todos os álbuns de um artista;
3. Coletar informações de todas as músicas de um álbum;
4. Coletar informações de todas as músicas de todos os álbuns de um artista;
5. Converter tudo para um csv.

In [85]:
!pip install spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy
import sys
import csv
 
sp = spotipy.Spotify(client_credentials_manager = SpotifyClientCredentials(client_id="dcffc14978ed497aa58834a7864a99b7", client_secret="e8c5cc78c8e74ccd92323d146c635b47"))

Requirement already satisfied: spotipy in /usr/local/lib/python3.6/dist-packages (2.12.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (1.12.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2020.4.5.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (1.24.3)

In [86]:
def get_artist(name):
    results = sp.search(name)
    items = results['tracks']['items']
    if len(items) > 0:
        return items[0]['artists'][0]
    else:
        return None

In [87]:
def get_artist_id(artist):
    return artist['id']

In [88]:
def get_artist_albums_id_names(id):
  albums = sp.artist_albums(id, country = 'BR', limit=3)
  albums_id_name = {}
  for i in range(len(albums['items'])):
    id = albums['items'][i]['id']
    name = albums['items'][i]['name']
    albums_id_name[id] = name
 
  return albums_id_name

In [89]:
def get_album_songs(album_id, album_name):
  spotify_album = {}
 
  tracks = sp.album_tracks(album_id)
  
  for n in range(len(tracks['items'])):
    id_track = tracks['items'][n]['id']
    track = sp.track(id_track)
    spotify_album[id_track] = {}
    
    spotify_album[id_track]['album'] = album_name
    spotify_album[id_track]['album_type'] = track['album']['album_type']
    spotify_album[id_track]['track_number'] = track['track_number']
    spotify_album[id_track]['id_track'] = track['id']
    spotify_album[id_track]['name'] = track['name']
    spotify_album[id_track]['popularity'] = track['popularity']
    spotify_album[id_track]['explicit'] = track['explicit']
    spotify_album[id_track]['duration_ms'] = track['duration_ms']
    spotify_album[id_track]['release_date'] = track['album']['release_date']
 
    artists_track = track['artists']
    spotify_album[id_track]['artists'] = []
    for artist in artists_track:
      spotify_album[id_track]['artists'].append(artist['name'])
  return spotify_album

In [90]:
def get_all_albums_songs(albums_ids_names):
  spotify_albums = []
  albums_names = []
  for id, name in albums_ids_names.items():
    if name not in albums_names:
      albums_names.append(name)
      album_songs = get_album_songs(id,name) 
    for item in album_songs.items():
      spotify_albums.append(item[1]) 
  return spotify_albums

In [91]:
def convert_to_csv(filepath, name):
  keys = filepath[0].keys()
  print(keys)
  csv_name = ''+ name + '.csv'
  with open(csv_name, 'w') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(filepath)
  return

In [92]:
name = "NexoAnexo"
artist = get_artist(name)    
if artist:
  artist_id = get_artist_id(artist)
  albums_id_names = get_artist_albums_id_names(artist_id)
  all_albums = get_all_albums_songs(albums_id_names)
  convert_to_csv(all_albums, 'NexoAnexo')   
else:
  logger.error("Can't find artist: %s", artist)

dict_keys(['album', 'album_type', 'track_number', 'id_track', 'name', 'popularity', 'explicit', 'duration_ms', 'release_date', 'artists'])

### **Dicionario dos dados**

Lembrem da definição de popularidade que foi dada lá no volume 01. Uma música nova tem muito mais chance de ser mais popular.



**Informações sobre os atributos**

contexto

### **Importar os pacotes e datasets necessário**

contexto

In [93]:
#importar os pacotes necessarios
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

# configurar o notebook
sns.set_style()

### **Leitura do arquivo**

Primeiro vamos ler nosso arquivo fora do notebook e tirar algumas informações, de como os dados estão separados e etc..

Abrindo nosso arquivo foi possivel identificar que está separado...Se trata de um arquivo csv

In [94]:
dados = 'NexoAnexo.csv'

df = pd.read_csv(dados, sep = ',')

contexto

In [95]:
print(f'Número de linhas ou variaveis {df.shape[0]}')
print(f'Número de entradas ou colunas {df.shape[1]}')

Número de linhas ou variaveis 33
Número de entradas ou colunas 10

contexto

## **Limpeza e preparação dos dados**

contexto

### **Deletando colunas**

Como o nosso conjunto de dados contém colunas que não serão uteis

In [96]:
df.head()

              album album_type  ...  release_date                          artists
0  Trap from Future      album  ...    2020-03-13                    ['NexoAnexo']
1  Trap from Future      album  ...    2020-03-13  ['NexoAnexo', 'Drippy Kid Jay']
2  Trap from Future      album  ...    2020-03-13                    ['NexoAnexo']
3  Trap from Future      album  ...    2020-03-13                    ['NexoAnexo']
4  Trap from Future      album  ...    2020-03-13       ['NexoAnexo', 'Victor KR']

[5 rows x 10 columns]

Vamos deletar as colunas...Isso é importante porque..

In [97]:
df = df[['album', 'name', 'track_number', 'popularity']].copy()

Costumo deletar as colunas dessa maneira por que me permite escolher uma nova ordem para as colunas, além de não delatarem proprimamente as outras colunas que foram descartadas.

In [98]:
df.columns

Index(['album', 'name', 'track_number', 'popularity'], dtype='object')

### **Renomeando colunas**

A renomeação das colunas é importante pq...contexto

In [99]:
df.columns

Index(['album', 'name', 'track_number', 'popularity'], dtype='object')

Para renomear todas as colunas vou utilizar o metodo df.columns...

Quando o objetivo é renomear uma ou mais colunas, o metodo df.rename seria melhor...

In [100]:
df.columns = ['nome_do_album', 'nome_da_faixa',  'posicao_da_faixa', 'popularidade']

In [101]:
df.head(3)

      nome_do_album   nome_da_faixa  posicao_da_faixa  popularidade
0  Trap from Future  Vem No Tum Tum                 1            18
1  Trap from Future    Drip Know Me                 2             3
2  Trap from Future           Match                 3             5

contexto

### **Verificar dados ausentes**

contexto... Também deve-se ficar atento pois muitas vezes uma coluna pode ter o registro de dados, porém esses dados não passam nenhuma informação util

In [119]:
df.isna().sum()

nome_do_album       0
nome_da_faixa       0
posicao_da_faixa    0
popularidade        0
dtype: int64

Também poderia fazer o uso do isnull, porém recomento utilizar o isna, devido que o final  do método "na", remete ao dropna, fillna e etc... Que são metodos que também trabalham de alguma forma com dados ausentes.

Vamos usar um "df.head(10) e df.tail(10)", pra analisar com calma os 20 primeiros e ultimos registros, averiguando se os dados realmente passam alguma informação, já que não temos dados ausentes.

In [122]:
df.head(10)

      nome_do_album          nome_da_faixa  posicao_da_faixa  popularidade
0  Trap from Future         Vem No Tum Tum                 1            18
1  Trap from Future           Drip Know Me                 2             3
2  Trap from Future                  Match                 3             5
3  Trap from Future           Trap & Brega                 4             6
4  Trap from Future        Marca Sem Roupa                 5             6
5  Trap from Future                   Wow!                 6             3
6  Trap from Future  Não Posso Morrer Novo                 7             3
7  Trap from Future            Fuck Cópias                 8             2
8  Trap from Future             Passa Nada                 9             4
9  Trap from Future              Novo Rock                10             1

In [134]:
df.tail(10)

           nome_do_album    nome_da_faixa  posicao_da_faixa  popularidade
23  Trap de Cria Mixtape  Isso Que É Foda                 9             4
24  Trap de Cria Mixtape              Pjl                10             0
25     Real Plug Mixtape        The Train                 1             0
26     Real Plug Mixtape         Fica Bem                 2             0
27     Real Plug Mixtape           Gospel                 3             0
28     Real Plug Mixtape            Nxanx                 4             0
29     Real Plug Mixtape             Tudo                 5             0
30     Real Plug Mixtape            A Lei                 6             0
31     Real Plug Mixtape       Dreams Cup                 7             0
32     Real Plug Mixtape             2020                 8             4

Contexto...Todos os registros passam alguma informação....

Contexto, Real plug mixtape é o album mais antigo, por isso sua popularidade não tem muitos número, devido que a popularidade está relacionada a musicas ouvidas no momento... Intrigante é a faixa 2020 que ainda se mantém com uma boa popularidade

De fato 2020 poderia ter sido um ano de sucesso e um ascensao da faixa 2020, como grande promessa, porem a faixa também fala de anos posteriores, como 2023, quem sabe nesse ano coisas grandes venham a acontecer..

### **Verificar os tipos de colunas**

contexto

In [150]:
df.dtypes

nome_do_album       object
nome_da_faixa       object
posicao_da_faixa     int64
popularidade         int64
dtype: object

contexto... Temos 2 faixar do tipo objeto e 2 faixas do tipo inteiro

In [152]:
df.head()

      nome_do_album    nome_da_faixa  posicao_da_faixa  popularidade
0  Trap from Future   Vem No Tum Tum                 1            18
1  Trap from Future     Drip Know Me                 2             3
2  Trap from Future            Match                 3             5
3  Trap from Future     Trap & Brega                 4             6
4  Trap from Future  Marca Sem Roupa                 5             6

contexto

### **Alterando tipo de colunas**

Nesse projeto nao vamos alterar o tipo das colunas...contexto

Porém se quisessemos alterar, poderiamos fazer da seguinte forma...

In [156]:
df['popularidade'] = df['popularidade'].astype(float)

In [155]:
df.dtypes

nome_do_album        object
nome_da_faixa        object
posicao_da_faixa      int64
popularidade        float64
dtype: object

In [157]:
df['popularidade'] = df['popularidade'].astype(int)

contexto

### **Verificando valores duplicados**

Por se tratar de um dataset com diversas musicas, e numeros, é importante verificar se não tem dados duplicados

In [163]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

contexto

## **Exploração de Visualização dos dados**

INVESTIR TEMPO NA VISUALIZAÇÃO DE DADOS, TANTO PRA APRENDER COMO PRA DEIXAR BONITO

Ainda não disse quais perguntas vamos responder. Então vamos lá:

* Qual é a música mais popular de Nexo?
* Qual é o álbum mais popular?
* E o single?

Apostas: 

* No album Real Plug, 
* No album Trap de Cria, acredito que seja OI Fake 
* No album TFF, acredito que seja Match, por mais que a minha preferida seja ...

* Musica mais pouplar, Ratatah 
* Album mais popular, TFF

**O sucesso Trap de cria**

# Testes

### TESTE Uma pequena analise exploratoria dos *albuns*

In [102]:
rmx = df.query("nome_do_album == 'Real Plug Mixtape' ")

In [103]:
tcm = df.query("nome_do_album == 'Trap de Cria Mixtape' ")

In [104]:
tff = df.query("nome_do_album == 'Trap from Future' ")

In [105]:
rmx.count()

nome_do_album       8
nome_da_faixa       8
posicao_da_faixa    8
popularidade        8
dtype: int64

In [106]:
tcm.count()

nome_do_album       10
nome_da_faixa       10
posicao_da_faixa    10
popularidade        10
dtype: int64

In [107]:
tff.count()

nome_do_album       15
nome_da_faixa       15
posicao_da_faixa    15
popularidade        15
dtype: int64

**Total de musicas**

In [108]:
df['nome_da_faixa'].count()

33

**Musicas por album**

In [109]:
rmx['nome_da_faixa'].nunique

<bound method IndexOpsMixin.nunique of 25     The Train
26      Fica Bem
27        Gospel
28         Nxanx
29          Tudo
30         A Lei
31    Dreams Cup
32          2020
Name: nome_da_faixa, dtype: object>

**Verificando se a popularidade das track tem a relação com sua posição**

In [110]:
tff[['posicao_da_faixa', 'popularidade']][:5]

   posicao_da_faixa  popularidade
0                 1            18
1                 2             3
2                 3             5
3                 4             6
4                 5             6

In [111]:
rmx[['posicao_da_faixa', 'popularidade']][:5]

    posicao_da_faixa  popularidade
25                 1             0
26                 2             0
27                 3             0
28                 4             0
29                 5             0

In [112]:
tcm[['posicao_da_faixa', 'popularidade']][:5]

    posicao_da_faixa  popularidade
15                 1             9
16                 2             2
17                 3             1
18                 4             1
19                 5             1

# Popularidade de musicas de cada album

In [136]:
tff[['nome_da_faixa', 'popularidade']].sort_values(ascending=False, by='popularidade')

            nome_da_faixa  popularidade
0          Vem No Tum Tum            18
3            Trap & Brega             6
4         Marca Sem Roupa             6
2                   Match             5
12        Fogo No Incenso             5
8              Passa Nada             4
10       Como Tem Que Ser             4
1            Drip Know Me             3
5                    Wow!             3
6   Não Posso Morrer Novo             3
11                  Grife             3
7             Fuck Cópias             2
14          Baila Comigo?             2
9               Novo Rock             1
13             Zombieland             1

contexto, particulamente curto muito a musica Novo Rock com uma pegada diferente e faz lembrar o estilo bate cabeça

In [138]:
rmx[['nome_da_faixa', 'popularidade']].sort_values(ascending=False, by='popularidade')

   nome_da_faixa  popularidade
32          2020             4
25     The Train             0
26      Fica Bem             0
27        Gospel             0
28         Nxanx             0
29          Tudo             0
30         A Lei             0
31    Dreams Cup             0

É incrivel como 2020 ainda possui um alcance grande, mesmo que a popularidade esteja pequena, é uma musica que está a frente de grandes faixas do recente album lançado, tff, como a faixa Wow.

In [139]:
tcm[['nome_da_faixa', 'popularidade']].sort_values(ascending=False, by='popularidade')

           nome_da_faixa  popularidade
15          Trap de Cria             9
23       Isso Que É Foda             4
16  A Lista das Bandidas             2
17                    A3             1
18             E Ai Fake             1
19            Video Call             1
20    Aliviando o Stress             1
21       Hino dos Irmãos             1
22   Bebê da Cara de Mal             1
24                   Pjl             0

contexto

# Classificação da popularidade

In [127]:
df['popularidade'].sort_values(ascending=False)

0     18
15     9
3      6
4      6
2      5
12     5
23     4
8      4
10     4
32     4
11     3
1      3
5      3
6      3
14     2
7      2
16     2
13     1
21     1
9      1
17     1
18     1
19     1
20     1
22     1
24     0
31     0
25     0
26     0
27     0
28     0
29     0
30     0
Name: popularidade, dtype: int64

In [129]:
df['popularidade'].max()

18

In [131]:
df['popularidade'].min()

0

**Media da popularidade**

In [159]:
tff['popularidade'].mean()

4.4

In [161]:
rmx['popularidade'].mean()

0.5

In [162]:
df['popularidade'].mean()

2.757575757575758