<a href="https://colab.research.google.com/github/luislauriano/Data_Science/blob/master/Projeto_construcao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dicas do Meigarom (YTB)**

Luis, vamos lá então.

* O projeto que eu mais gostei foi o de Detecção de Cancer de Mama.
* Para resolve qualquer projeto de ML você precisa de 10 passos e você fez 5 deles. Conferir os passos de um projeto de ML novamente
* Gostei das suas explicações depois de cada código.
* Você poderia ter feito uma análise estatística descritiva dos dados, para dar um visão geral dos dados, em termos de métricas estatísticas ( média, mediana, std, moda, … )
* Você poderia ter feito mais análise exploratória de dados. Quais as features mais importantes para o modelo? Qual o impacto de cada feature na variável resposta?
* Você poderia explicar porque usou StandardScaler nas Features. Porque padronizar os dados? O que isso ajuda no modelo?
* Porque você usou LabelEncoder na variável resposta? O que isso traz de benefício?
* Poderia explicar, porque voce usou Random Forest. Qual o motivo da sua escolha?
* Explicar mais sobre as métricas, o que significa cada métrica? Qual das métricas eu deveria olhar? Todas? Apenas Uma?
13h52
* Vai se aprofundando nos projetos e procurando responder porque você está colocando cada coisa. Porque Random forest? Porque Analise Exploratoria? Porque StandarScaler? Para que serve a matrix de correlação?
* Vai fazendo testes e tentando entender o real motivo de cada linha código que você coloca, e porque essa linha é importante e no que ela ajuda?

# **Projetos como base:**

### Projeto do Rafael
https://github.com/barbosarafael/Projetos/blob/master/iNeuron_Back_order_prediction_Notebook/hackaton_ineuron_back_order_prediction.ipynb

### Projeto do Carlos Melo
https://github.com/carlosfab/data_science/blob/master/Setembro_Amarelo.ipynb

### Projeto do Cancer de Mama 
https://github.com/luislauriano/Data_Science/blob/master/Machine_Learning_para_Detec%C3%A7%C3%A3o_do_C%C3%A2ncer_de_Mama.ipynb

#**Referencias:**

Limpeza e preparação dos dados: https://medium.com/@lucasoliveiras/limpeza-e-prepara%C3%A7%C3%A3o-dos-dados-com-pandas-856e844abfbb

Tutorial API do Spotify: https://dandaramcsousa.github.io/2020/05/20/tutorial-api-spotify.html

Escrever e detalhar o maximo e tudo possivel com calma. (Isso também vai ser importante para aprender)   

Explicar cada coisa usada como quando eu for usar o sklearn (para isso vou precisar pesquisar sobre metric score, acuracia e etc para falar sobre)

___________________________________________________________________________________________________

# **Coletando e visualizando dados do Spotify de NexoAnexo**

## **Objetivo do projeto (Solução para o problema)**

contexto

## **Etapas do projeto**

* Coleta do dados 
   1. Api do spotify
   2. Dicionario dos dados
   3. Importar os pacotes e dataset necessários
   4. Leitura do arquivo

* Limpeza e preparação dos dados
    1. Deletar colunas
    2. Renomear colunas 
    3. Verificar os tipos das colunas
    4. Alterar os tipos de colunas 
    5. Verificar dados ausentes
    6. Preencher dados ausentes
    7. Corrigindo dados divergentes
    6. Verificando valores duplicados
  
* Exploração e visualização dos dados 
* Etapas do Machine Learning workflow

## **Coleta dos dados**

contexto

### **Explicar toda etapa da coleta dos dados na API do Spotify**

1. Coletar as informações de um artista, dado um nome;
2. Coletar os ids e nomes de todos os álbuns de um artista;
3. Coletar informações de todas as músicas de um álbum;
4. Coletar informações de todas as músicas de todos os álbuns de um artista;
5. Converter tudo para um csv.

In [55]:
!pip install spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy
import sys
import csv
 
sp = spotipy.Spotify(client_credentials_manager = SpotifyClientCredentials(client_id="dcffc14978ed497aa58834a7864a99b7", client_secret="e8c5cc78c8e74ccd92323d146c635b47"))

Requirement already satisfied: spotipy in /usr/local/lib/python3.6/dist-packages (2.12.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (1.12.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2020.4.5.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2.9)

In [56]:
def get_artist(name):
    results = sp.search(name)
    items = results['tracks']['items']
    if len(items) > 0:
        return items[0]['artists'][0]
    else:
        return None

In [57]:
def get_artist_id(artist):
    return artist['id']

In [58]:
def get_artist_albums_id_names(id):
  albums = sp.artist_albums(id, country = 'BR', limit=3)
  albums_id_name = {}
  for i in range(len(albums['items'])):
    id = albums['items'][i]['id']
    name = albums['items'][i]['name']
    albums_id_name[id] = name
 
  return albums_id_name

In [59]:
def get_album_songs(album_id, album_name):
  spotify_album = {}
 
  tracks = sp.album_tracks(album_id)
  
  for n in range(len(tracks['items'])):
    id_track = tracks['items'][n]['id']
    track = sp.track(id_track)
    spotify_album[id_track] = {}
    
    spotify_album[id_track]['album'] = album_name
    spotify_album[id_track]['album_type'] = track['album']['album_type']
    spotify_album[id_track]['track_number'] = track['track_number']
    spotify_album[id_track]['id_track'] = track['id']
    spotify_album[id_track]['name'] = track['name']
    spotify_album[id_track]['popularity'] = track['popularity']
    spotify_album[id_track]['explicit'] = track['explicit']
    spotify_album[id_track]['duration_ms'] = track['duration_ms']
    spotify_album[id_track]['release_date'] = track['album']['release_date']
 
    artists_track = track['artists']
    spotify_album[id_track]['artists'] = []
    for artist in artists_track:
      spotify_album[id_track]['artists'].append(artist['name'])
  return spotify_album

In [60]:
def get_all_albums_songs(albums_ids_names):
  spotify_albums = []
  albums_names = []
  for id, name in albums_ids_names.items():
    if name not in albums_names:
      albums_names.append(name)
      album_songs = get_album_songs(id,name) 
    for item in album_songs.items():
      spotify_albums.append(item[1]) 
  return spotify_albums

In [61]:
def convert_to_csv(filepath, name):
  keys = filepath[0].keys()
  print(keys)
  csv_name = ''+ name + '.csv'
  with open(csv_name, 'w') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(filepath)
  return

In [62]:
name = "NexoAnexo"
artist = get_artist(name)    
if artist:
  artist_id = get_artist_id(artist)
  albums_id_names = get_artist_albums_id_names(artist_id)
  all_albums = get_all_albums_songs(albums_id_names)
  convert_to_csv(all_albums, 'NexoAnexo')   
else:
  logger.error("Can't find artist: %s", artist)

dict_keys(['album', 'album_type', 'track_number', 'id_track', 'name', 'popularity', 'explicit', 'duration_ms', 'release_date', 'artists'])

### **Dicionario dos dados**

Lembrem da definição de popularidade que foi dada lá no volume 01. Uma música nova tem muito mais chance de ser mais popular.

contexto



**Informações sobre os atributos**

contexto

### **Importar os pacotes e datasets necessário**

contexto

In [63]:
#importar os pacotes necessarios
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

# configurar o notebook
sns.set_style()

### **Leitura do arquivo**

Primeiro vamos ler nosso arquivo fora do notebook e tirar algumas informações, de como os dados estão separados e etc..

Abrindo nosso arquivo foi possivel identificar que está separado...Se trata de um arquivo csv

Em alguns projetos reais essa etapa de importar os dados pode ser mais trabalhosa exigindo outros parametros, como header, skiprows e etc..

In [64]:
dados = 'NexoAnexo.csv'

df = pd.read_csv(dados, sep = ',')

contexto

In [65]:
print(f'Número de linhas ou variaveis {df.shape[0]}')
print(f'Número de entradas ou colunas {df.shape[1]}')

Número de linhas ou variaveis 33
Número de entradas ou colunas 10

contexto

## **Limpeza e preparação dos dados**

contexto

### **Deletando colunas**

Como o nosso conjunto de dados contém colunas que não serão uteis para o que desejamos fazer, vamos deletar...

In [66]:
df.head()

              album album_type  ...  release_date                          artists
0  Trap from Future      album  ...    2020-03-13                    ['NexoAnexo']
1  Trap from Future      album  ...    2020-03-13  ['NexoAnexo', 'Drippy Kid Jay']
2  Trap from Future      album  ...    2020-03-13                    ['NexoAnexo']
3  Trap from Future      album  ...    2020-03-13                    ['NexoAnexo']
4  Trap from Future      album  ...    2020-03-13       ['NexoAnexo', 'Victor KR']

[5 rows x 10 columns]

Vamos deletar as colunas...Isso é importante porque..

In [67]:
df.columns.unique()

Index(['album', 'album_type', 'track_number', 'id_track', 'name', 'popularity',
       'explicit', 'duration_ms', 'release_date', 'artists'],
      dtype='object')

Dessa forma consigo ter uma visão de todas as minhas colunas, então agora é so dar um CTRL + C nas que desejo e inserir no proximo método

In [68]:
df = df[['album', 'name', 'track_number', 'popularity']].copy()

Costumo deletar as colunas dessa maneira por que me permite escolher uma nova ordem para as colunas, além de não delatarem proprimamente as outras colunas que foram descartadas.

In [111]:
df.columns

Index(['nome_do_album', 'nome_da_faixa', 'posicao_da_faixa', 'popularidade'], dtype='object')

### **Renomeando colunas**

A renomeação das colunas é importante pq...contexto

In [110]:
df.columns

Index(['nome_do_album', 'nome_da_faixa', 'posicao_da_faixa', 'popularidade'], dtype='object')

Para renomear todas as colunas vou utilizar o metodo df.columns...

Quando o objetivo é renomear uma ou mais colunas, o metodo df.rename seria melhor...

In [71]:
df.columns = ['nome_do_album', 'nome_da_faixa',  'posicao_da_faixa', 'popularidade']

In [72]:
df.head(3)

      nome_do_album   nome_da_faixa  posicao_da_faixa  popularidade
0  Trap from Future  Vem No Tum Tum                 1            18
1  Trap from Future    Drip Know Me                 2             2
2  Trap from Future           Match                 3             4

contexto

### **Verificar dados ausentes**

contexto

In [73]:
df.isna().sum()

nome_do_album       0
nome_da_faixa       0
posicao_da_faixa    0
popularidade        0
dtype: int64

Deve-se ficar atento pois muita das vezes uma coluna pode ter o registro de dados, ou seja, é informado pelo método que o conjunto de dados não possui valores nulos, entranto, esses dados não passam nenhuma informação util

Também poderia fazer o uso do isnull, porém recomento utilizar o isna, devido que o final  do método "na", remete ao dropna, fillna e etc... Que são metodos que também trabalham de alguma forma com dados ausentes.

Vamos usar um "df.head(10) e df.tail(10)", pra analisar com calma os 10 primeiros e ultimos registros, averiguando se os dados realmente passam alguma informação, já que não temos dados ausentes.

In [74]:
df.head(10)

      nome_do_album          nome_da_faixa  posicao_da_faixa  popularidade
0  Trap from Future         Vem No Tum Tum                 1            18
1  Trap from Future           Drip Know Me                 2             2
2  Trap from Future                  Match                 3             4
3  Trap from Future           Trap & Brega                 4             6
4  Trap from Future        Marca Sem Roupa                 5             6
5  Trap from Future                   Wow!                 6             3
6  Trap from Future  Não Posso Morrer Novo                 7             3
7  Trap from Future            Fuck Cópias                 8             2
8  Trap from Future             Passa Nada                 9             3
9  Trap from Future              Novo Rock                10             1

In [75]:
df.tail(10)

           nome_do_album    nome_da_faixa  posicao_da_faixa  popularidade
23  Trap de Cria Mixtape  Isso Que É Foda                 9             4
24  Trap de Cria Mixtape              Pjl                10             0
25     Real Plug Mixtape        The Train                 1             0
26     Real Plug Mixtape         Fica Bem                 2             0
27     Real Plug Mixtape           Gospel                 3             0
28     Real Plug Mixtape            Nxanx                 4             0
29     Real Plug Mixtape             Tudo                 5             0
30     Real Plug Mixtape            A Lei                 6             0
31     Real Plug Mixtape       Dreams Cup                 7             0
32     Real Plug Mixtape             2020                 8             4

Contexto...Todos os registros passam alguma informação....

Contexto, Real plug mixtape é o album mais antigo, por isso sua popularidade não tem muitos número, devido que a popularidade está relacionada a musicas ouvidas no momento... Intrigante é a faixa 2020 que ainda se mantém com uma boa popularidade, vamos analisar mais essa faixa na análise exploratoria

De fato 2020 poderia ter sido um ano de sucesso e uma ascensao da faixa 2020, como grande promessa, porem a faixa também fala de anos posteriores, como 2023, quem sabe nesse ano coisas grandes venham a acontecer..

### **Verificar os tipos de colunas**

contexto... É importante verificar se nenhuma coluna foi preenchida de forma errada, ou seja, a coluna trata-se de uma coluna inteira, mas está como string

In [76]:
df.dtypes

nome_do_album       object
nome_da_faixa       object
posicao_da_faixa     int64
popularidade         int64
dtype: object

In [118]:
df.dtypes.value_counts()

int64     2
object    2
dtype: int64

contexto... Temos 2 faixas do tipo objeto e 2 faixas do tipo inteiro

In [77]:
df.head()

      nome_do_album    nome_da_faixa  posicao_da_faixa  popularidade
0  Trap from Future   Vem No Tum Tum                 1            18
1  Trap from Future     Drip Know Me                 2             2
2  Trap from Future            Match                 3             4
3  Trap from Future     Trap & Brega                 4             6
4  Trap from Future  Marca Sem Roupa                 5             6

contexto

### **Alterando tipo de colunas**

Nesse projeto nao vamos alterar o tipo das colunas...contexto

Porém se quisessemos alterar, poderiamos fazer da seguinte forma...

In [78]:
df['popularidade'] = df['popularidade'].astype(float)

In [79]:
df.dtypes

nome_do_album        object
nome_da_faixa        object
posicao_da_faixa      int64
popularidade        float64
dtype: object

In [80]:
df['popularidade'] = df['popularidade'].astype(int)

contexto

### **Corrigindo dados divergentes**

O ponto importante que acho interessante de falar que não aconteceu nesse dataset é sobre dados divergentes, que podem surgir em alguns conjuntos de dados.  Uma forma eficiente de filtrar e remover o que não for necessário é utilizando expressões regulares. Não entraremos em detalhes sobre a utilização dessas funções.

https://medium.com/@lucasoliveiras/limpeza-e-prepara%C3%A7%C3%A3o-dos-dados-com-pandas-856e844abfbb

### **Verificando valores duplicados**

Contexto...Valores duplicados são encontrados com frequência e dependendo da análise que será feita, esses valores podem alterar o resultado final.

https://medium.com/@lucasoliveiras/limpeza-e-prepara%C3%A7%C3%A3o-dos-dados-com-pandas-856e844abfbb

Por se tratar de um dataset com diversas musicas, e numeros, é importante verificar se não tem dados duplicados

In [122]:
df.duplicated().value_counts()

False    33
dtype: int64

contexto

## **Exploração de Visualização dos dados**

INVESTIR TEMPO NA VISUALIZAÇÃO DE DADOS, TANTO PRA APRENDER COMO PRA DEIXAR BONITO

### **Analise exploratoria de dados**

contexto... Toda exploração de dados está relacionada a hipoteses,  avaliar pressupostos sobre os quais a inferencia estatistica se baseara....

Então vamos definir algumas perguntas que queremos responder na analise exploratoria dos dados, para reter informações... A análise exploratoria deve se chegar ao fim, quando for identificado que já se atingiu o objetivo desejado,, na prática isso é definido pela área de negocios.

Ainda não disse quais perguntas vamos responder. Então vamos lá:

* Qual é a música mais popular de Nexo?
* Qual é o álbum mais popular?
* E o single?

Apostas: 

* No album Real Plug, ...
* No album Trap de Cria, acredito que seja OI Fake 
* No album TFF, acredito que seja Match, por mais que a minha preferida seja ...

* Musica mais pouplar, Ratatah 
* Album mais popular, TFF
* **O sucesso Trap de cria**

contexto

Vamos começar visualizando novamente nosso dataframe...

In [123]:
df.head()

      nome_do_album    nome_da_faixa  posicao_da_faixa  popularidade
0  Trap from Future   Vem No Tum Tum                 1            18
1  Trap from Future     Drip Know Me                 2             2
2  Trap from Future            Match                 3             4
3  Trap from Future     Trap & Brega                 4             6
4  Trap from Future  Marca Sem Roupa                 5             6

Qual é a música mais popular de NexoAnexo no momento? Data =

In [143]:
df[['nome_da_faixa', 'popularidade']].sort_values(ascending=False, by='popularidade').reset_index(drop=True)

            nome_da_faixa  popularidade
0          Vem No Tum Tum            18
1            Trap de Cria             9
2            Trap & Brega             6
3         Marca Sem Roupa             6
4         Fogo No Incenso             4
5         Isso Que É Foda             4
6                    2020             4
7                   Match             4
8                    Wow!             3
9        Como Tem Que Ser             3
10                  Grife             3
11  Não Posso Morrer Novo             3
12             Passa Nada             3
13            Fuck Cópias             2
14           Drip Know Me             2
15   A Lista das Bandidas             2
16          Baila Comigo?             2
17        Hino dos Irmãos             1
18                     A3             1
19              Novo Rock             1
20    Bebê da Cara de Mal             1
21     Aliviando o Stress             1
22             Zombieland             1
23             Video Call             1
24              E Ai Fake             1
25              The Train             0
26               Fica Bem             0
27                 Gospel             0
28                  Nxanx             0
29                   Tudo             0
30                  A Lei             0
31             Dreams Cup             0
32                    Pjl             0

O que me surpreende nessa primeira visão é a faixa Trap de Cria, que foi um lançamento do album Trap de Cria Mixtape, antes do Trap From Future. Mas não é só isso que dá pra observar, a faixa 2020 está a frente de muitas da musicas do recente album Trap From Future.

Um questionamento que tenho é se a popularidade dessas faixas que estão em alta tem relação com a posição das faixas. Tendo em vista, que a primeira faixa sempre é a primeira a tocar obviamente, sempre que inicia a playlist. Mas antes disso vamos separar os albuns por variveis para a analise ficar mais clara e facil.

**Definindo por albumns**

In [82]:
rmx = df.query("nome_do_album == 'Real Plug Mixtape' ")

In [83]:
tcm = df.query("nome_do_album == 'Trap de Cria Mixtape' ")

In [84]:
tff = df.query("nome_do_album == 'Trap from Future' ")

contexto

**Total de musicas**

In [88]:
df['nome_da_faixa'].count()

33

**Musicas por album**

Albúm RealPlug MTP:

In [162]:
rmx[['posicao_da_faixa', 'nome_da_faixa']].reset_index(drop=True)

   posicao_da_faixa nome_da_faixa
0                 1     The Train
1                 2      Fica Bem
2                 3        Gospel
3                 4         Nxanx
4                 5          Tudo
5                 6         A Lei
6                 7    Dreams Cup
7                 8          2020

Já conseguimos observar aqui que de fato a faixa 2020 é um sucesso, tendo em vista que tem uma popularidade alta mesmo estando na ultima posicao do album, por que normalmente as ultimas faixas são as menos ouvidas.

Albúm Trap de cria:

In [161]:
tcm[['posicao_da_faixa', 'nome_da_faixa']].reset_index(drop=True)

   posicao_da_faixa         nome_da_faixa
0                 1          Trap de Cria
1                 2  A Lista das Bandidas
2                 3                    A3
3                 4             E Ai Fake
4                 5            Video Call
5                 6    Aliviando o Stress
6                 7       Hino dos Irmãos
7                 8   Bebê da Cara de Mal
8                 9       Isso Que É Foda
9                10                   Pjl

contexto

Trap from future:

In [159]:
tff[['posicao_da_faixa', 'nome_da_faixa']]

    posicao_da_faixa          nome_da_faixa
0                  1         Vem No Tum Tum
1                  2           Drip Know Me
2                  3                  Match
3                  4           Trap & Brega
4                  5        Marca Sem Roupa
5                  6                   Wow!
6                  7  Não Posso Morrer Novo
7                  8            Fuck Cópias
8                  9             Passa Nada
9                 10              Novo Rock
10                11       Como Tem Que Ser
11                12                  Grife
12                13        Fogo No Incenso
13                14             Zombieland
14                15          Baila Comigo?

contexto

**Verificando se a popularidade das track tem a relação com sua posição**

In [163]:
tff[['nome_da_faixa', 'posicao_da_faixa', 'popularidade']]

            nome_da_faixa  posicao_da_faixa  popularidade
0          Vem No Tum Tum                 1            18
1            Drip Know Me                 2             2
2                   Match                 3             4
3            Trap & Brega                 4             6
4         Marca Sem Roupa                 5             6
5                    Wow!                 6             3
6   Não Posso Morrer Novo                 7             3
7             Fuck Cópias                 8             2
8              Passa Nada                 9             3
9               Novo Rock                10             1
10       Como Tem Que Ser                11             3
11                  Grife                12             3
12        Fogo No Incenso                13             4
13             Zombieland                14             1
14          Baila Comigo?                15             2

A primeira faixa é a mais popular, mas sei que a primeira faixa é sempre a primeira a tocar numa playlist do spotify e nem sempre é a que você mais ouve, mas ela torna-se a mais ouvida por sempre que inicia a playlist ela é a primeira a tocar.

Isso também pode ser aplicado aqui, por que se a posição tivesse relação com a popularidade as outras faixas seguintes também deveriam continuar sendo as mais populosas, que não acontece..

contexto, particulamente curto muito a musica Novo Rock com uma pegada diferente e faz lembrar o estilo bate cabeça

In [165]:
rmx[['nome_da_faixa','posicao_da_faixa', 'popularidade']].reset_index(drop=True)

  nome_da_faixa  posicao_da_faixa  popularidade
0     The Train                 1             0
1      Fica Bem                 2             0
2        Gospel                 3             0
3         Nxanx                 4             0
4          Tudo                 5             0
5         A Lei                 6             0
6    Dreams Cup                 7             0
7          2020                 8             4

Como dito anteriormente é possivel observar que a faixa 2020 é de fato um sucesso, por que se analisarmos as musicas que estão na ultima posição de cada album, em sua maioria são as menos ouvidas.

É incrivel como 2020 ainda possui um alcance grande, mesmo que a popularidade esteja pequena, é uma musica que está a frente de grandes faixas do recente album lançado, tff, como a faixa Wow.

In [167]:
tcm[['nome_da_faixa','posicao_da_faixa', 'popularidade']].reset_index(drop=True)

          nome_da_faixa  posicao_da_faixa  popularidade
0          Trap de Cria                 1             9
1  A Lista das Bandidas                 2             2
2                    A3                 3             1
3             E Ai Fake                 4             1
4            Video Call                 5             1
5    Aliviando o Stress                 6             1
6       Hino dos Irmãos                 7             1
7   Bebê da Cara de Mal                 8             1
8       Isso Que É Foda                 9             4
9                   Pjl                10             0

Assim como no album TFF, a musica mais popular deste album é a que está na primeira posição, vale resaltar que a musica Trap de cria é a musica mais popular de todos os albuns, como foi visto anteriormente.

contexto

### **Aplicar metricas estatisticas (mode, median, media)**

# Classificação da popularidade

In [96]:
df['popularidade'].sort_values(ascending=False)

0     18
15     9
3      6
4      6
23     4
2      4
12     4
32     4
5      3
6      3
8      3
10     3
11     3
1      2
7      2
16     2
14     2
17     1
13     1
18     1
19     1
9      1
20     1
21     1
22     1
30     0
28     0
29     0
24     0
25     0
26     0
31     0
27     0
Name: popularidade, dtype: int64

In [97]:
df['popularidade'].max()

18

In [98]:
df['popularidade'].min()

0

**Media da popularidade**

In [99]:
tff['popularidade'].mean()

4.066666666666666

In [100]:
rmx['popularidade'].mean()

0.5

In [101]:
df['popularidade'].mean()

2.606060606060606